---
# Front matter comment to ensure Jekyll properly reads file.
---

@import url(//fonts.googleapis.com/css?family=Noto+Sans);

body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

a, a:visited {
  color: black;
}

section.cover {
  background-color: #71B280;
  padding: 0; margin: 0;
  width: 100%; height: 100vh;
  position: relative;
  margin: 0 auto;
  box-sizing: border-box;

  label {
    display: block;
    margin-bottom: 12px;
    color: black;
  }

  .info {
    width: 100%;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;

    .name {
        font-size: 2.25em;
        @media (min-width: 450px) {
          font-size: 3em;
        }
        text-transform: uppercase;
    }

    .description {
    }


    .social-links {
      display: table;
      margin: 48px auto;

      a {
        padding: 0px 12px;
        @media (min-width: 450px) {
          padding: 0px 48px;
        }

        display: table-cell;
        vertical-align: middle;
        text-align: center;
      }

      a > svg {
        width: 64px;
        height: 64px;
      }

      a.soundcloud > svg {
        width: 128px;
      }

      @media (min-width: 800px) {
        a > svg {
          width: 128px;
          height: 128px;
        }
        a.soundcloud > svg {
          width: 256px;
        }
      }
    }
  }

  .more {
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-bottom: 12px;
    text-align: center;

    a {
      outline: none;
    }

    svg {
      width: 48px;
      height: 48px;
    }
  }
}

section.error {
  height: 100vh;
  background-color: #71B280;

  div {
    width: 100%;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
  }
}

section.s {
  div.section-wrapper {
    padding: 24px 12px;
    box-sizing: border-box;
  }
}

@media (min-width: 800px) {
  section.s {
    div.section-wrapper {
      margin: auto;
      padding-top: 48px;
      padding-bottom: 48px;
      width: 750px;
    }
  }
}

section.bio {
  background-color: #71B280;

  div.section-wrapper {
    div {
      text-align: center;

      img {
        width: 256px;
        height: 256px;
        border-radius: 100%;
      }

      label {
        display: block;
        margin-top: 12px;
        font-size: 1.25rem;

        a {
          text-decoration: none;
          font-weight: 600;
          color: inherit;
        }
        a:visited {
          color: inherit;

        }
      }
    }
  }
}

@media (min-width: 601px) {
  section.bio {
    div.section-wrapper {
      div {
        display: table;
        width: 100%;
        text-align: left;

        img {
          display: table-cell;
        }
        label {
          display: table-cell;
          vertical-align: middle;
          padding-left: 36px;
        }
      }
    }
  }
}


section.posts {
  background-color: white;

  ul {
    margin: 0; padding: 0;
    list-style: none;

    li {
      margin: 0; padding: 0;
    }
  }

  div.post-info {
    display: inherit;
    width: 100%;
    margin-bottom: 18px;

    div.left {
      display: inherit;

      a.title {
        display: block;
        text-decoration: none;
        font-size: 1.5rem;
        font-size: 1.5rem;
        color: #393939
      }
      a.visited {
        color: rgb(96, 96, 96);
      }

      label.excerpt {
        font-size: 1rem;
        font-style: italic;
        color: #595959;
        line-height: 1.5rem;
      }
    }

    label.date {
      display: table-cell;
      text-align: right;
      color: rgb(96, 96, 96);
    }
  }
}

@media (min-width: 800px) {
  section.posts {
    div.section-wrapper {
      padding-top: 24px;
      padding-bottom: 24px;

      div.post-info {
        display: table;
        width: 100%;
        margin-bottom: 18px;

        div.left {
          display: table-cell;
          width: 612px;
          a.title {
            display: block;
            text-decoration: none;
            font-size: 1.5rem;
            font-size: 1.5rem;
            color: #393939;
          }
          a.visited {
            color: rgb(96, 96, 96);
          }

          label.excerpt {
            font-size: 1rem;
            font-style: italic;
            color: #595959;
            line-height: 1.5rem;
          }
        }

        label.date {
          display: table-cell;
          text-align: right;
        }
      }
    }
  }
}

body.index {
  footer {
    box-sizing: border-box;
    height: 80px;
    width: 100%;
    background-color: #71B280;
    padding: 12px;

    @media (min-width: 800px) {
      text-align: center;
    }

    a, a.visited {
      text-decoration: underline;
      color: #000;
    }
  }

  div.references {
    height: 100%;
    position: relative;

    span {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      font-size: 0.75em;
    }
  }
}

body.post {
  article {
    padding: 10px;
    box-sizing: border-box;
  }

  article p {
    font-size: 1.0rem;
    line-height: 1.25rem;
  }

  article h3 {
    text-align: center;
  }

  article h4 {
    color: #382D2D;
  }

  article p > code {
    background-color: #E9E9E9;
    overflow: scroll;
    white-space: nowrap;
  }

  article span.date {
    color: rgb(96, 96, 96);
  }

  @media (min-width: 900px) {
    article {
      width: 750px;
      margin-left: auto;
      margin-right: auto;
    }

    footer {
      text-align: center;
    }
  }
}

body.post, body.posts {
  footer {
    padding: 10px;
    box-sizing: border-box;
  }

  footer {
    height: auto;
    background-color: white;
    margin-bottom: 20px;
    border-top: 1px solid #DDD;

    div.references span {
      font-size: 0.75em;
    }

    div.bottom-links {
      margin: 6px 0;
      a {
        text-decoration: none;
      }
      a:first-of-type {
        margin-right: 6px;
      }
      a:last-of-type {
        margin-left: 6px;
      }
    }
  }

  @media (min-width: 900px) {
    footer {
      width: 750px;
      margin-left: auto;
      margin-right: auto;
    }

    footer {
      text-align: center;
    }
  }
}
