---
layout: default
title: Ahmet Kizilay - Software Developer
---

<section class="cover">
  <div class="info">
    <label class="name">Ahmet Kizilay</label>
    <label class="description">HUMAN - DEVELOPER</label>
    <div class="social-links">
      {% include github.html %}
      {% include linkedin.html %}
    </div>
  </div>
  <div class="more">
    <a href="#posts" title="Posts">
      {% include down.svg %}
    </a>
  </div>
</section>
<section class="s posts" id="posts">
  <div class="section-wrapper">
    <h3>Latest posts</h3>
    <ul>
    {% for post in site.posts %}
        <li>
          <div class='post-info'>
            <div class="left">
              <a class="title" href="{{ post.url }}">{{ post.title }}</a>
              <label class="excerpt"> {{ post.excerpt }}</label>
            </div>
            <label class="date">{{ post.date | date: "%b %-d, %Y"}}</label>
          </div>
        </li>
    {% endfor %}
    </ul>
  </div>
</section>
<section class="s bio">
  <div class="section-wrapper">
    <div>
      <img src="/img/avatar.jpeg" alt="my picture"/>
      <label>
        I am a computer programmer living in Brooklyn.
	You can reach me on gmail (firstnamedotlastname) or <a href="https://twitter.com/ahmetkizilay" rel="me">@ahmetkizilay</a>.
      </label>
    </div>
  </div>
</section>
