<a href="https://www.linkedin.com/in/ahmetkizilay" class="linkedin" rel="me" title="Linkedin">
<svg viewBox="382 0 130 130" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid">
  <g>
    <path d="M501.763599,0 L391.342566,0 C386.065996,0 381.779234,4.18238313 381.779234,9.33927592 L381.779234,120.224619 C381.779234,125.386011 386.065996,129.574692 391.342566,129.574692 L501.763599,129.574692 C507.049167,129.574692 511.355726,125.386011 511.355726,120.224619 L511.355726,9.33927592 C511.355726,4.18238313 507.049167,0 501.763599,0" fill="#000"></path>
    <path d="M410.603304,17.8390158 C416.749104,17.8390158 421.741329,22.8321406 421.741329,28.9788401 C421.741329,35.1300387 416.749104,40.1249631 410.603304,40.1249631 C404.444907,40.1249631 399.458981,35.1300387 399.458981,28.9788401 C399.458981,22.8321406 404.444907,17.8390158 410.603304,17.8390158 L410.603304,17.8390158 Z M400.990482,48.5779121 L420.208928,48.5779121 L420.208928,110.414735 L400.990482,110.414735 L400.990482,48.5779121 Z" fill="#71B280"></path>
    <path d="M432.262974,48.5779121 L450.699473,48.5779121 L450.699473,57.026362 L450.955023,57.026362 C453.519522,52.1655114 459.789497,47.0392127 469.138671,47.0392127 C488.60007,47.0392127 492.193069,59.8464112 492.193069,76.4958594 L492.193069,110.414735 L472.98812,110.414735 L472.98812,80.3435079 C472.98812,73.1692091 472.855845,63.9460105 463.00097,63.9460105 C452.999424,63.9460105 451.467923,71.7582847 451.467923,79.8243093 L451.467923,110.414735 L432.262974,110.414735 L432.262974,48.5779121" fill="#71B280"></path>
  </g>
</svg>
</a>
