<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="ahmet kizilay, software, programming, developer, coder, writing, code">
    <meta name="description" content="Home page for Ahmet Kizilay, software developer">
    <!-- Twitter Card data -->
    <meta name="twitter:card" value="summary">

    <!-- Open Graph data -->
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{site.url}}" />
    <meta property="og:image" content="{{site.url}}/img/avatar.jpeg" />
    <meta property="og:description" content="Home page for Ahmet Kizilay, software developer" />
    <link rel="canonical" href="{{site.url}}" />

    <meta name="theme-color" content="#71B280">
    <title>{{ page.title }}</title>
    <script type="application/ld+json">
{ 
  "@context": "http://schema.org", 
  "@type": "WebSite", 
  "url": "{{site.url}}", 
  "name": "{{ page.title }}",
  "author": {
    "@type": "Person",
    "name": "Ahmet Kizilay"
  },
  "description": "Contact information and writings by Ahmet Kizilay"
}

      </script>
    {% if jekyll.environment == "production" %}
    <script type="text/javascript">
    if (window.location.protocol != "https:") {
      window.location.href = "https:" + window.location.href.substring(window.location.protocol.length);
    }
    </script>
    {% endif %}
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body class="index">
  {{ content }}
  <footer>
    <div class="references">
      <span>down by Stefan Parnarov from the Noun Project, other svg logos are appropriated from <a href="https://github.com/gilbarbara/logos" target="_blank">gilbarbara/logos</a>.</span>
    </div>
  </footer>
  {% include sw.html %}
  </body>
</html>
