<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#71B280">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
  {{ content }}
  </body>
</html>
