<!DOCTYPE html>
<html lang="{{page.lang}}">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="ahmet kizilay,blog,{{page.tags}}">
    <meta name="description" content="{{page.excerpt}}">
    <!-- Twitter Card data -->
    <meta name="twitter:card" value="summary">
    <meta name="twitter:title" content="{{page.title}}" />
    <meta name="twitter:description" content="{{ page.excerpt }}" />
    <meta name="twitter:image" content="{{site.url}}/img/avatar.jpeg" />
    <meta name="twitter:site" content="@ahmetkizilay" />

    <!-- Open Graph data -->
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{site.url}}{{page.url}}" />
    <meta property="og:image" content="{{site.url}}/img/avatar.jpeg" />
    <meta property="og:description" content="{{page.excerpt}}" />
    <link rel="canonical" href="{{site.url}}{{page.url}}" />

    <meta name="theme-color" content="#71B280">
    <title>{{ page.title }}</title>
    <script type="application/ld+json">
{ 
  "@context": "http://schema.org", 
  "@type": "BlogPosting",
  "headline": "{{page.title}}", 
  "keywords": "ahmet kizilay,blog,{{page.tags}}", 
  "url": "{{site.url}}{{page.url}}",
  "datePublished": "{{page.date | date: "%b %-d, %Y"}}",
  "dateModified": "{{page.date | date: "%b %-d, %Y"}}",
  "dateCreated": "{{page.date | date: "%b %-d, %Y"}}",
  "description": "{{page.excerpt}}",
  "author": {
    "@type": "Person",
    "name": "Ahmet Kizilay"
  },
  "mainEntityOfPage": "{{site.url}}{{page.url}}"
}
      </script>
    {% if jekyll.environment == "production" %}
    <script type="text/javascript">
    if (window.location.protocol != "https:") {
      window.location.href = "https:" + window.location.href.substring(window.location.protocol.length);
    }
    </script>
    {% endif %}
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body class="post">
    <article>
        {{ content }}
        <span class="date">posted <label class="post-date">{{page.date | date: "%b %-d, %Y"}}</label></span>
    </article>
    <footer>
      <div class="bottom-links">
        <a href="/">Home</a><a href="/posts.html">All posts</a>
      </div>
      <div class="references"></div>
    </footer>
  </body>
</html>
