<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="{{site.url}}{{page.url}}" />
    <meta name="theme-color" content="#71B280">
    <title>{{ page.title }}</title>
    {% if jekyll.environment == "production" %}
    <script type="text/javascript">
    if (window.location.protocol != "https:") {
      window.location.href = "https:" + window.location.href.substring(window.location.protocol.length);
    }
    </script>
    {% endif %}
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body class="posts">
  {{ content }}
  <footer>
    <div class="bottom-links">
      <a href="/">Home</a><a href="/posts.html">All posts</a>
    </div>
    <div class="references"></div>
  </footer>
  </body>
</html>
